<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div class="post">
    {{ content }}
  </div>
  <div class="copyright">
    <p>
      <span id="copyright">Copyright &copy; {{ page.date | date: '%Y' }} Jeffrey L. Overbey.  All rights reserved.  Except for source code where an explicit license is given, no part of this blog may be copied, reproduced, published, translated, or distributed, in whole or in part, without the written permission of the copyright owner.</span>
    </p>
  </div>
</div>
